<html>
<head>
    <meta name="decorator" content="atl.admin"/>
    $webResourceManager.requireResource("com.atlassian.tutorial.myPlugin:myPlugin-resources")
    <style>
        table, th, td {
            border: 1px solid black;
        }
    </style>
</head>
<body>

<table>
    <tr>
        <th>ID</th>
        <th>Date</th>
        <th>From status</th>
        <th>To status</th>
        <th>IssueKey</th>
    </tr>
    #foreach( $transition in $context.transitions )
##        <li>
            <tr>
                <th>$transition.ID</th>
                <th>$transition.date</th>
                <th>$transition.from</th>
                <th>$transition.to</th>
                <th>$transition.issueKey</th>
                <th> <button class="delete-transition-button" transition-id="$transition.ID">Delete</button></th>
            </tr>
    #end
</table>
</body>
</html>